body {
  margin: 0;
  background: transparent !important;
  overflow-x: hidden;
}


#bg-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -2;
  transition: opacity 1s ease-out;
}


#assembled-burger {
  position: fixed;
  top: 50%;
  left: 50%;
  /* Removed blur/drop-shadow and increased opacity for sharpness */
  filter: none;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 420px;
  opacity: 0.5;
  pointer-events: none;
}


#assembled-burger img {
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition:
    opacity .5s ease-out,
    transform .6s ease-out;
}




#layer-bottom {
  top: 75px;
  left: -21px;
  width: 100%;
  z-index: 1;
}


#layer-patty {
  top: -195px;
  left: 0px;
  width: 90%;
  z-index: 2;
}


#layer-cheese {
  top: -30px;
  left: 30px;
  width: 88%;
  z-index: 3;
}


#layer-lettuce {
  top: -306px;
  left: 0px;
  width: 100%;
  z-index: 4;
}


#layer-top {
  top: -705px;
  left: 0px;
  width: 92%;
  z-index: 5;
}


.scroll-zone {
  height: 18000px !important;
}



#image-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;

  pointer-events: none;
  z-index: -1;

  transition: opacity .4s ease-out;
}

#bg-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -3;

  transition: opacity 1s ease-out;
}